<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding new machine</title>
    <link rel="stylesheet" type="text/css" href="/static/TrackingApp/add_new.css" />
</head>
<body>

<div align="center" id="layer1">
    <form method="post">
        {{ new_machine_form }}
        </br></br>
        <input type="submit" value="Применить" />
        <a href="/">
        <input type="button" value="Назад" />
        </a>
    </form>
    <form action="/">

    </form>
</div>

</body>
</html>