<!DOCTYPE html>
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/static/TrackingApp/index.css" />
</head>
<body>
{% load static %}

<div align="center" id="layer1">
    <form method="post">
        {% csrf_token %}
        {{ brand_form }}
        <input type="submit" value="Применить" />
    </form>
</div>

<table>
    <caption>
        Рабочие самосвалы
    </caption>
    <tr>
        <th>Бортовой номер</th>
        <th>Модель</th>
        <th>Максимальная грузоподъемность</th>
        <th>Текущий вес</th>
        <th>Перегрузка,%</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.machine_id }}</td>
        <td>{{ item.brand_name }}</td>
        <td>{{ item.brand_name.max_carrying_capacity }}</td>
        <td>{{ item.current_carrying_load }}</td>
        <td>{{ item.overload_value }}</td>
    </tr>
    {% endfor %}
</table>

<div align="center" id="layer2">
    <form action='new_machine/' >
        <input type="submit" value="Добавить новую машину" />
    </form>

    <form action='new_brand/'>
        <input type="submit" value="Добавить новую модель" />
    </form>
</div>

</body>
</html>