@charset "windows-1251";
/* CSS Document */

body {background-color:#AAAAAA}
p {color:#222255}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
  margin-left: auto;
  margin-right: auto;
}
caption {
  padding: 10px;
  color: white;
  background: #8FD4C1;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: center;
}
td {
  padding: 10px;
  text-align: center;
}

input {
    display: block;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}